<div *ngIf="(requestEntry$ | async) as requestEntry" class="main-div">
  <mat-card class="card">
      <mat-card-header>
          <div style="display: flex; flex-direction: row;">
              <div>
                  <img *ngIf="requestEntry.headerImage !== null; else placeholderImage"
                  src="{{origin}}/api/request-entries/image/{{requestEntry.headerImage}}" class="header-image">
              <ng-template #placeholderImage>
                  <img class="header-image" src="../../../assets/placeholders/placeholder-blog-entry.png">
              </ng-template>
              </div>
              <div style="margin-left: 20px;">
                  <h1>{{requestEntry.spokeCo}}</h1>
                  <h2>{{requestEntry.description}}</h2>
                  <h3>Author: {{requestEntry.author.name}}</h3>
                  <a routerLink="../../users/{{requestEntry.author.id}}">Go to author profile</a>
              </div>
          </div>
      </mat-card-header>
      <mat-card-content>
          <div>
              <markdown class="variable-binding" [data]="requestEntry.body"></markdown>
          </div>
      </mat-card-content>
  </mat-card>
</div>
